<!-- prettier-ignore -->
<%
const title = 'アバウトページ';
const description="アバウトの説明分" ;
const url="ページのurl or サイトのurl"
%>

<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include components/_head -%>
  </head>
  <body>
    <%- include components/_header -%>
    <h1 class="p-test">About Page</h1>
    <%- include components/_footer -%>

    <script src="./js/main.js"></script>
  </body>
</html>
